.features {
    max-width: 631px;
    padding: 44px 52px;
    background-color: var(--inputs-color);
    border-radius: 10px;
}

.venicleTitle {
    font-family: "Inter Semibold";
    font-size: 20px;
    line-height: 1.2;
    margin-top: 76px;
}

.venicleTitle:after {
    content: " ";
    display: block;
    width: 100%;
    height: 1px;
    margin: 24px 0px;
    background: var(--gray-light-color);
}

.venicleDetailsItem {
    display: flex;
    justify-content: space-between;
    font-family: "Inter Medium";
    line-height: 1.5;
    margin-bottom: 16px;
}

.venicleDetailsItem:last-child {
    margin-bottom: 0;
}

.venicleDetailsItem:first-child .detailValue {
    text-transform: capitalize;
}

@media screen and (max-width: 767px) {
    .features {
        padding: 22px 20px;
    }

    .venicleTitle {
        margin-top: 38px;
    }

    .venicleTitle:after {
        margin: 18px 0px;
    }
}