.categoriesList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
}

.categoryItem {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px 18px;
    background-color: var(--badges-color);
    border-radius: 100px;
}

.categoryName {
    font-family: "Inter Medium";
    line-height: 1.5;
    text-transform: capitalize;
}

@media screen and (max-width: 767px) {
    .categoryName {
        font-size: 14px;
    }
}