.catalog {
    padding: 48px 64px 52px 64px;
    display: flex;
    justify-content: center;
    gap: 64px;
}

.listBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

@media screen and (max-width: 1439px) {
    .catalog {
        flex-direction: column;
        align-items: center;
    }
}