.bookingFormWrap {
    width: 641px;
    padding: 44px 57px;
    border: 1px solid var(--gray-light-color);
    border-radius: 10px;
}

.formTitle {
    font-family: "inter Semibold";
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.formDescription {
    line-height: 1.5;
    color: var(--gray-color);
    margin-bottom: 24px;
}

.inputsWrap {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 24px;
}

.inputName, .inputEmail, .inputDate {
    width: 100%;
    height: 60px;
    line-height: 1.5;
    border: none;
    border-radius: 10px;
    background-color: var(--inputs-color);
    outline: transparent;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 14px;
}

.inputDate {
    width: 527px;
}

:global(.react-datepicker-popper) {
    border-radius: 12px;
}

:global(.react-datepicker-popper .react-datepicker__triangle) {
    stroke: var(--text-color);
}

:global(.react-datepicker) {
    font-family: "Inter Regular";
    font-size: 14px;
    color: var(--main-color);
    background-color: var(--white-color);
    border: 1px solid var(--text-color);
}

:global(.react-datepicker__header) {
    background-color: var(--white-color);
    padding: 12px;
    border-bottom: 1px solid var(--text-color);
}

:global(.react-datepicker__navigation-icon::before) {
    top: 11px;
    border-color: var(--text-color);
}

:global(.react-datepicker__current-month) {
    font-family: "Inter Semibold";
    font-size: 16px;
    color: var(--main-color);
}

:global(.react-datepicker__day-names) {
    font-family: "Inter Semibold";
    font-size: 12px;
    color: var(--text-color);
}

:global(.react-datepicker__month) {
    padding: 12px;
    margin: 0px;
}

:global(.react-datepicker__day--outside-month) {
    color: var(--text-color);
}

.commentBox {
    height: 118px;
    line-height: 1.5;
    border: none;
    border-radius: 10px;
    background-color: var(--inputs-color);
    padding: 18px;
    outline: transparent;
    resize: none;
    margin-bottom: 24px;
}

.sendBtn {
    display: block;
    margin: 0 auto;
    padding: 16px 63px;
    background-color: var(--button-color);
    border: none;
    border-radius: 200px;
    color: var(--white-color);
    font-family: "Inter Medium";
    line-height: 1.5;
    letter-spacing: -0.005em;
    transition: background-color var(--transition);
}

.sendBtn:hover {
    background-color: var(--button-hover-color);
}

@media screen and (max-width: 1439px) {
    .bookingFormWrap {
        width: 631px;
    }

    .inputDate {
        width: 515px;
    }
}

@media screen and (max-width: 767px) {
     .bookingFormWrap {
        width: 340px;
        padding: 22px 20px;
    }

    .inputDate {
        width: 293px;
    }
}