.bookingFormWrap {
    width: 641px;
    padding: 44px 57px;
    border: 1px solid var(--gray-light-color);
    border-radius: 10px;
}

.formTitle {
    font-family: "inter Semibold";
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.formDescription {
    line-height: 1.5;
    color: var(--gray-color);
    margin-bottom: 24px;
}

.inputsWrap {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 24px;
}

.inputName, .inputEmail, .inputDate {
    height: 60px;
    line-height: 1.5;
    border: none;
    border-radius: 10px;
    background-color: var(--inputs-color);
    outline: transparent;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 14px;
}

.commentBox {
    height: 118px;
    line-height: 1.5;
    border: none;
    border-radius: 10px;
    background-color: var(--inputs-color);
    padding: 18px;
    outline: transparent;
    resize: none;
    margin-bottom: 24px;
}

.sendBtn {
    display: block;
    margin: 0 auto;
    padding: 16px 63px;
    background-color: var(--button-color);
    border: none;
    border-radius: 200px;
    color: var(--white-color);
    font-family: "Inter Medium";
    line-height: 1.5;
    letter-spacing: -0.005em;
    transition: background-color var(--transition);
}

.sendBtn:hover {
    background-color: var(--button-hover-color);
}