.reviews {
    max-width: 631px;
}

.reviewsListItem {
    margin-bottom: 44px;
}

.reviewsListItem:last-child {
    margin-bottom: 0;
}

.reviewTitleRating {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;
}

.reviewTitle {
    font-family: "Inter Semibold";
    font-size: 24px;
    line-height: 1.3;
    color: var(--button-color);
    background-color: var(--badges-color);
    border-radius: 60px;
    padding: 15px 21px 13px 21px;
}

.reviewerName {
    font-family: "Inter Medium";
    line-height: 1.5;
    margin-bottom: 4px;
}

.reviewerComment {
    line-height: 1.5;
    color: var(--text-color);
}

.noReviews {
    width: 631px;
    line-height: 1.5;
    color: var(--text-color);
}